$btn-color-blue:#118BDD;
$blue:#118BDD;
$black:#0C0E16;
$gray:#C9C9C9;
//Font
$TTN-R:TTNorms-Regular;
$TTN-B:TTNorms-Bold;
$TTN-EB:TTNorms-ExtraBold;

.paralax-image{
	position: absolute;
	top: 0;
	z-index: -50;
	height: 700px;
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
.paralax-image_newslink{
	background: url('../img/newslink.png') no-repeat;
	
}
.main{
	margin-top: 20%;
	background:white;
	width: 80%;
	padding: 40px;
	//height: 500px;
	&__wrap{

	}
	&__link_back{
		 background: url('../img/backarrow.svg') no-repeat center center;
		background-color:$blue;
		height: 40px;
		width: 40px;
	}
	&__link{
		margin-top: 2em;
	}
	&__title{
		font-family: $TTN-EB;
		font-weight: bold;
		font-size: 46px;
		line-height: 150%;
		color: #000000;
	}
	&__description{
		p{
			font-family: $TTN-R;
			font-weight: normal;
			font-size: 18px;
			line-height: 180%;
			/* or 32px */
			color: #000000;
		}
	}
	&__table{
		th{
			border-collapse: collapse;
			border-spacing:20px;
			background: #DBEAF3;
		}
		tr{
			td{
				
			}
			background: #F0F6F9;
		}
	}
	&__subtitle{
		padding: 25px 0;
		font-family: $TTN-EB;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		line-height: 180%;
	}
	&__rect{
		background: #F0F6F9;
		padding: 36px 13px;
		margin-bottom: 20px;
		span{
			font-family: $TTN-R;
			font-weight: 500;
			font-size: 18px;
			line-height: 150%;
			color: #5F6C72;
		}
	}
	&__wrap-list-benefits{
		h3{
			font-family: $TTN-EB;
			font-weight: bold;
			font-size: 22px;
			line-height: 150%;
		}
	&__list-benefits{
		li{

		font-family: $TTN-R;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 180%;
		}
	}
}

}
//slider
.wrap__slider{
	position: relative;
}
.arrow	{

		width: 100%;
		display: flex;
		justify-content: space-between;
		position: absolute;
		top: 45%;
		
	&__news_size{
		width: 45px;
		height: 45px;
	}
}
/////
.accordion-button{
	font-family: $TTN-B;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
}

.file {
	display: flex;
	align-items: center;

	/* .file__format */
	&__format {
		width: 60px;
		height: 60px;
		background: url('../img/pdf.svg') no-repeat center center;
		background-color:#EDEDED;
		
	}
	/* .file__name */
	&__name {
		width: 80%;
		strong{
			margin-left: 1em;
			font-family: $TTN-B;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 150%;
		}
	}
	/* .file__download */
	&__download {
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 180px;
		height: 60px;
		background-color: $blue;
		border: none;
		color: white;
		font-family: $TTN-B;
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0.1em;
		transition: background-color .5s ease;
	}
	&__download:hover {
		background-color:#32A1DF;
		color: white;
	}
}
