@import "_mixins.scss";
$blue:#118BDD;
$black:#0C0E16;
$gray:#C9C9C9;
//Font
$TTN-R:TTNorms-Regular;
$TTN-B:TTNorms-Bold;
$TTN-EB:TTNorms-ExtraBold;

.bg-white{
	background: white;
}
.paralax-image {
	position: fixed;
	/* .paralax-image__object */
	&__object {
		
		background: url('../img/object-card.png') no-repeat;
	}
}
.head {
	margin-top: 17%;
	/* .head__main */
	&__main {
		width: 90%;
		padding: 2em 2em;
		/* .head__main_bg-blue */
		&_bg-blue {
			background: $blue;
		}
		/* .head__main__title */
		&__title {
			@include DeskH2;
			color: white;

		}
		/* .head__main__adres */
		&__address {
			font-family: $TTN-R;
			font-style: normal;
			font-weight: normal;
			font-size: 15px;
			line-height: 150%;
			color: white;
		}
		&__address:before{
			content: url('../img/location-white.svg');
			position: relative;
			top: 5px;
		}
	}
}

.description {
	/* .description__number */
	&__number {
		/* .description__number_lightning */
		&_lightning {
			background: url('../img/lightning.svg') no-repeat 0 0;
		}
	}
	&_width{
		width: 100%;
	}
	&_margin{
		margin-left: 3%;
	}
	&__subtitle{
		@include DeskH3;
		padding: 1em 0.5em;
	}
	&__parag{
		font-family: $TTN-R;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 180%;
	}
}

