<div class="map__dropdowncard">
		<div class="map__img">
			<img src="img/img.png" alt="">
		</div>
		<div class="map__dropdowncard__description">
			<h5 class="map__title">
				Заголовок про котельную
			</h5>
			<p class="map__adress">Санкт-Петербург, ул.Уличная 22</p>
			<div class="map__caract">
				<div class="map__caract__description">
					<p class="map__caract__key">Напряжение</p>
					<span class="map__caract__property">110 кВ</span>
				</div>
				<div class="map__caract__description">
					<p class="map__caract__key">Срок разработки</p>
					<span class="map__caract__property">25 дней</span>
				</div>
			</div>
			<div class="map__wrap">
				<div class="map__btn direction__linkto ">
					<a href="#">Подробнее</a>
						<div class="map__arrow direction__arrow"></div>
				</div>
			</div>
		</div>
	</div>