<footer class="footer">
		<div class="container">
			<div class="footer__wrap-content">
				<div class="row">
					<div class="col-xxl-3 col-xl-3 col-lg-3">
						<div class="footer__brand">
							<img src="img/brand.png" alt="">
							<p class="footer__brand-txt">ООО "Пром Импульс" 2021</p>
						</div>
					</div>
					<div class="col-xxl-3 col-xl-3 col-lg-3">
						<div class="footer__sections">
							<p class="footer__title">Разделы сайта</p>
							<ul class="footer__list">
								<li class="footer__list_font"><a href="">О компании</a></li>
								<li class="footer__list_font"><a href="services.html">Услуги</a></li>
								<li class="footer__list_font"><a href="">Раскрытие информации</a></li>
								<li class="footer__list_font"><a href="">Абонентам</a></li>
								<li class="footer__list_font"><a href="">Наши объекты</a></li>
								<li class="footer__list_font"><a href="news.html">Новости</a></li>
								<li class="footer__list_font"><a href="">Контакты</a></li>
							</ul>
						</div>
					</div>
					<div class="col-xxl-3 col-xl-3 col-lg-3">
						<div class="footer__sections">
							<p class="footer__title">Реквизиты</p>
							<ul class="footer__list">
								<li class="footer__list_font">ООО "Пром Импульс"</li>
								<li class="footer__list_font">ОГРН: 1053600591197</li>
								<li class="footer__list_font">ИНН: 3664069397</li>
								<li class="footer__list_font">КПП: xxxxxxxxx</li>
								<li class="footer__list_font">ПФР: xxxxxxxxxxxx</li>
								<li class="footer__list_font">ОКПО: xxxxxxxx</li>
								<li class="footer__list_font">ФСС: xxxxxxxxxxxxxxx</li>
								<li class="footer__list_font">ОКАТО: xxxxxxxxxxx</li>
								<li class="footer__list_font">ОКТМО: xxxxxxxx</li>
								<li class="footer__list_font">ОКОГУ: xxxxxxx</li>
								<li class="footer__list_font">ОКФС: xx</li>
								<li class="footer__list_font">ОКОПФ: xxxxx</li>
							</ul>
						</div>
					</div>
					<div class="col-xxl-3 col-xl-3 col-lg-3">
						<div class="footer__sections">
							<p class="footer__title">Тел./Факс</p>
							<p class="footer__number">+7 (812) 603-73-77</p>
							<p class="footer__title">Адрес</p>
							<p class="footer__list_font color-white">196084, г. Санкт-Петербург, ул. Рощинская, д. 5, лит. И</p>
							<p class="footer__title">Email:</p>
							<div class="footer__list_font">
							<a href="mailto:office@promimpuls.ru" >office@promimpuls.ru</a>
							</div>
							<p class="footer__title mt-3">График работы:</p>
							<p class="footer__list_font color-white">Понедельник-Пятница <br> 08:00 - 19:00</p>
						</div>
					</div>
				</div>
			</div>
			<hr style="color: #464958; height: 1px;">
			<div class="row">
				<div class="col-xxl-3 col-xl-3 col-lg-3">
					<a href="#" class="subfooter">Карта сайта</a>
				</div>
				<div class="col-xxl-3 col-xl-3 col-lg-3">
					<a href="#" class="subfooter">Обработка персональных данных</a>
				</div>
				<div class="col-xxl-3 col-xl-3 col-lg-3">
					<a href="#" class="subfooter">Политика конфиденциальности</a>
				</div>
				<div class="col-xxl-3 col-xl-3 col-lg-3">
					<a href="#" class="subfooter">Разработка: Design Studio</a>
				</div>
			</div>
		</div>
	</footer>