<nav class="navbar navbar-expand-lg navbar-light text-color">
  <div class="container-fluid">
    <a class="navbar-brand me-4" href="#">
    	<img src="img/brand.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown me-3 my-4">
          <a class="nav-link dropdown-toggle text" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            О компании
          </a>
          <ul class="dropdown-menu bg-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item text-menu" href="#">О нас</a></li>
            <li><a class="dropdown-item text-menu" href="#">Реквизиты</a></li>
            <li><a class="dropdown-item text-menu" href="#">Закупки</a></li>
            <li><a class="dropdown-item text-menu" href="#">Партнеры</a></li>
            <li><a class="dropdown-item text-menu" href="#">Лицензии</a></li>
          </ul>
          <li class="nav-item dropdown me-3 my-4">
          <a class="nav-link dropdown-toggle text" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Услуги
          </a>
          <ul class="dropdown-menu bg-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item text-menu" href="#">-</a></li>
            <li><a class="dropdown-item text-menu" href="#">-</a></li>
            <li><a class="dropdown-item text-menu" href="#">-</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown me-3 my-4">
          <a class="nav-link dropdown-toggle text" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Раскрытие информации
          </a>
          <ul class="dropdown-menu bg-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item text-menu" href="#">Action</a></li>
            <li><a class="dropdown-item text-menu" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-menu" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown me-3 my-4 ">
          <a class="nav-link dropdown-toggle text" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Абонентам
          </a>
          <ul class="dropdown-menu bg-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item text-menu" href="#">Action</a></li>
            <li><a class="dropdown-item text-menu" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-menu" href="#">Something else here</a></li>
          </ul>
        </li>

        </li>
        <li class="nav-item me-3 my-4">
          <a class="nav-link text" href="#">Наши объекты</a>
        </li>
        <li class="nav-item me-3 my-4">
          <a class="nav-link text" href="#">Новости</a>
        </li>
        <li class="nav-item me-1 my-4">
          <a class="nav-link text" href="#">Контакты</a>
        </li>
        <li class="nav-item  text my-2 ">
        	<p>+7(123) 456-78-90</p> <br>
        	<span class="mail">yourmail@company.com</span>
        </li>
    </div>
  </div>
</nav>